
{% extends 'home.html' %}

{% block main_content %}
    
    
<!-- Main content -->
<section class="content">
    <div class="container-fluid">
      <div class="row">

        <!-- Signup form starts -->
        <div class="card card-default">
            <div class="card-header">
                <h3 class="card-title">Item uploading form  </h3>
            </div>
            <!-- /.card-header -->
            <!-- form start -->
            <form class="form-horizontal" method="POST" action="{% url 'itempost' %}">
                {% csrf_token %}
                <div class="card-body">
                {% load crispy_forms_tags %}
                <!-- custome -->
                {% csrf_token %}
                    <div class="form-group row">
                        <div class="form-group col-md-10 mb-0">
                            {{ form.title|as_crispy_field }}
                        </div>
                        <div class="form-group col-md-10 mb-0">
                            {{ form.item_name|as_crispy_field }}
                        </div>
                        <div class="form-group col-md-10 mb-0">
                            {{ form.item_price|as_crispy_field }}
                        </div>
                    </div>
                    <div class="card-footer">
                        <button type="submit" class="btn btn-primary">Sign Up</button>
                        <button type="submit" class="btn btn-default float-right">Sing in</button>
                    </div>
                    <!-- /.card-footer -->
            </form>
            </div>
        <!-- Signup form Ends -->


      </div>
      
    </div><!-- /.container-fluid -->
  </section>
  <!-- /.content -->
</div>

{% endblock main_content %}