{% extends "layouts/base.html" %}
{% load static %}
 
{% block content %}

<body class="login-page" style="min-height: 402.391px;">
    <div class="login-box">
      <div class="login-logo">
        <a href="../../index2.html"><b>Admin</b>LTE</a>
      </div>
      <!-- /.login-logo -->
      <div class="card">
        <div class="card-body login-card-body">
          <p class="login-box-msg">You are only one step a way from your new password, recover your password now.</p>
    
          <form action="login.html" method="post">
            <div class="input-group mb-3">
                {% csrf_token %}                    
                    {{ form }}
            </div>
            <div class="row">
              <div class="col-12">
                <button type="submit" class="btn btn-primary btn-block">Change password</button>
              </div>
              <!-- /.col -->
            </div>
          </form>
        </div>
        <!-- /.login-card-body -->
      </div>
    </div>
    <!-- /.login-box -->
    
    
    
    </body>

    {% endblock content %}