
{% extends "layouts/base.html" %}
{% load static %}
 
{% block content %}
<body class="login-page" style="min-height: 348.391px;">
    <div class="login-box">
      <div class="card">
        <div class="card-body login-card-body">
          <p class="login-box-msg">You forgot your password? Here you can easily retrieve a new password.</p>
    
          <form method="post">
            {% csrf_token %}
            <div class="input-group mb-3">
                
                {{ form }}
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-envelope"></span>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <button type="submit" class="btn btn-primary btn-block">Request new password</button>
              </div>
              <!-- /.col -->
            </div>
          </form>
    
          </div>
        <!-- /.login-card-body -->
      </div>
    </div>
    <!-- /.login-box -->
    
    
    
    
    </body>


{% endblock content %}
