<script>
    $(document).ready( function() {
  
        $("#id_item_type").change( function(event) {
            var itemType = $("#id_item_type").val();
            if(itemType != null){
                if(itemType == 'car'){
                    // $("#house_form_id").attr("class",'d-none');
                    $(".carForm").attr("class",'form-group col-md-10 mb-0 carForm');
                }
                else{
                    $(".carForm").attr("class",'form-group col-md-10 mb-0 d-none carForm');   
                    // $("#house_form_id").attr("class",'visible');
                }
            }
            else{
                // $("#house_form_id").attr("class",'d-none');
                $(".carForm").attr("class",'form-group col-md-10 mb-0 d-none carForm');
            }
            
        });
    });
  </script>