<div class="container">
  <a href="{% url 'customer:index' %}" class="navbar-brand">
    {% load static %}
    <img src="{% static 'images/DBS-LOGO.PNG' %}" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
         style="opacity: .8">
    <span class="brand-text font-weight-light">DBS System</span>
  </a>
  <!-- Left navbar links -->
  <ul class="navbar-nav">
    <li class="nav-item">
    </li>
    <li class="nav-item d-none d-sm-inline-block">
      <a href="{% url 'customer:house' %}" class="nav-link ">House</a>
    </li>
    <li class="nav-item d-none d-sm-inline-block">
      <a href="{% url 'customer:car' %}" class="nav-link">Car</a>
    </li>
    
    {% if user.is_authenticated %}
      <li class="nav-item d-none d-sm-inline-block">
        <a href="{% url 'customer:carItemPost' %}" class="nav-link">Add Car </a>
      </li>
      <li class="nav-item d-none d-sm-inline-block">
        <a href="{% url 'customer:houseItemPost' %}" class="nav-link">Add House </a>
      </li>
    {% endif %}
      

  </ul>
  <!-- SEARCH FORM -->
  <form class="form-inline ml-3">
    <div class="input-group input-group-sm">
      <input class="form-control form-control-navbar" type="search" placeholder="Search" aria-label="Search">
      <div class="input-group-append">
        <button class="btn btn-navbar" type="submit">
          <i class="fas fa-search"></i>
        </button>
      </div>
    </div>
  </form>
  <!-- Right navbar links -->
  
  <ul class="navbar-nav ml-auto">
  {% if user.is_authenticated %}    
      <!-- Notifications Dropdown Menu -->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{ user.username }}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
        </div>
      </li>
  {% endif %}
  </ul>
</div>