{% extends 'common/user_body.html' %}


{% block user_rightside_block %}
    {% if not user.is_authenticated %}
        <!-- login form starts -->
        <div class="card card-default">
        <div class="card-header">
            <h3 class="card-title">Login </h3>
        </div>
        <!-- /.card-header -->
        <!-- form start -->
        <form action="{% url 'login' %}"  method="POST" class="form-horizontal">
            {% load crispy_forms_tags %}
            {% csrf_token %}
            <div class="card-body">
                <div class="form-group row">
                    <div class="form-group col-md-10 mb-0">
                        {{ authForm.username|as_crispy_field }}
                    </div>
                    <div class="form-group col-md-10 mb-0">
                        {{ authForm.password|as_crispy_field }}
                    </div>
                </div>
            </div>
            <!-- /.card-body -->
            <div class="card-footer">
            <button type="submit" class="btn btn-info">Sign in</button>
            <a  class="btn btn-default float-right" href="{% url 'reset_password' %}">Forget Password</a>
            </div>
            <!-- /.card-footer -->
        </form>
        </div>
        <!-- Login form ends -->

        <!-- Signup form starts -->
        <div class="card card-default">
            <div class="card-header">
            <h3 class="card-title">Signup  </h3>
            </div>
            <!-- /.card-header -->
            <!-- form start -->
            <form class="form-horizontal" method="POST" action="{% url 'signup' %}">
            <div class="card-body">
                {% load crispy_forms_tags %}
                <!-- custome -->
                {% csrf_token %}
                    <div class="form-group row">
                        <div class="form-group col-md-10 mb-0">
                            {{ form.username|as_crispy_field }}
                        </div>
                        <div class="form-group col-md-10 mb-0">
                            {{ form.email|as_crispy_field }}
                        </div>
                        <div class="form-group col-md-10 mb-0">
                            {{ accForm.phone_num|as_crispy_field }}
                        </div>
                        <div class="form-group col-md-10 mb-0">
                            {{ form.password1|as_crispy_field }}
                        </div>
                        <div class="form-group col-md-10 mb-0">
                            {{ form.password2|as_crispy_field }}
                        </div>
                    </div>
                    <div class="card-footer">
                    <button type="submit" class="btn btn-info">Sign Up</button>
                    <button type="submit" class="btn btn-default float-right">Sing in</button>
                    </div>
                    <!-- /.card-footer -->
            </form>
        </div>
        <!-- Signup form Ends -->
    {% else %}
        {% include 'customer/Posting_item/sidePostList.html' %}
    {% endif %}
{% endblock user_rightside_block %}
    