{% extends 'layouts/base.html' %}

{% block title %}Home{% endblock %}



{% block content %}
<body class="hold-transition sidebar-wrapper layout-fixed ">
<div class="wrapper">
  
  
  <!-- Navbar -->
  <nav class=" navbar navbar-expand navbar-light navbar-white layout-top-nav">
    <!-- User header page including there -->
    {% include 'common/user_header_page.html' %}
  </nav>
  <!-- /.navbar -->


  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">Home</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Post List</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    {% block main_content %}
      
    {% endblock main_content %}
      
  <!-- /.content-wrapper -->
  <footer class="main-footer">
    <strong>Copyright &copy; 2020-2022 <a href="#">DBS</a>.</strong>
    All rights reserved.
    <div class="float-right d-none d-sm-inline-block">
      <b>Version</b> 0.0.1
    </div>
  </footer>

  
</div>
<!-- ./wrapper -->


{% endblock %}